<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <!-- <app-header (selectedView)="changeView($event)"></app-header> -->
  <div class="fuild-container">
    <div class="row">
      <ul class="nav nav-tabs">
        <li role="presentation"><a routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a></li>
        <li role="presentation"><a routerLinkActive="btn-primary" routerLink="/match">Match</a></li>
        <li role="presentation"><a routerLinkActive="btn-primary" [routerLink]="['players']">Players</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>
