<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <app-header (selectedView)="changeView($event)"></app-header>
</div>
<h2>Here are some links to help you start: </h2>
<ng-template [ngIf]="selectedView == 'match'">
  <app-score-sheet></app-score-sheet>
</ng-template>
<ng-template [ngIf]="selectedView == 'tables'">
  <app-player-waitlist></app-player-waitlist>
</ng-template>
<ng-template [ngIf]="selectedView == 'admin'">
<app-players></app-players>
</ng-template>
