<h2>Host Location: {{hostLocation}}</h2>
<h3>{{teamName}}</h3>
<hr>
<h3>{{matchNumber == 0 ? "" : "Currently in Match " + matchNumber + " of 5."}} {{5 - matchNumber == 0? "Final Match" : (5-matchNumber) + " matches remaining"}} </h3>
<table class="table table-hover">
  <thead>
    <tr><th><h2>Roster</h2></th></tr>
    <tr>
      <th>SL</th>
      <th>Player#</th>
      <th>Name</th>
      <th>Choose Player</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of team">
      <td>{{player.playerSkillLevel}}</td>
      <td>{{player.playerNumber}}</td>
      <td>{{player.fName + " " + player.lName}} </td>
      <td><button type="button" name="button" (click)="onChoosePlayer(player)" class="btn" [ngClass]="{'' : arePlayersInMatch , 'btn-primary' : !arePlayersInMatch}" [disabled]="arePlayersInMatch || matchNumber ==5">{{arePlayersInMatch? "Players Locked" : "Send to Match"}}</button></td>

    </tr>
  </tbody>
</table>
<hr>
<table>
  <thead>
    <tr><th><h2>Players Played</h2></th></tr>
    <tr>
      <th>SL</th>
      <th>Player#</th>
      <th>Name</th>
      <th>Match Played</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of playedPlayers; let i = index">
      <td>{{player.playerSkillLevel}}</td>
      <td>{{player.playerNumber}}</td>
      <td>{{player.fName + " " + player.lName}} </td>
      <td>
        {{i+1}}
      </td>
    </tr>
  </tbody>
</table>
