<div class="container-fluid">
  <p>
    An 8-Ball APA Scoresheet:
  </p>
  <app-match-results [matchItems]="matches"></app-match-results>
  <div class="row">
    <div class="col-md-5">
      <app-team [isHomeTeam]=true [matchNumber]="matchNo" [arePlayersInMatch]="isMatchStarted" (playerSelected)="setMatchPlayer($event, true)"></app-team>
    </div>
    <div class="col-md-2"><h2>VS.</h2></div>
    <div class="col-md-5">
      <app-team [isHomeTeam]=false [matchNumber]="matchNo" [arePlayersInMatch]="isMatchStarted" (playerSelected)="setMatchPlayer($event, false)"></app-team>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        {{homeTeamPlayer.fName + " " + homeTeamPlayer.lName }}
      <button class="btn btn-primary" [disabled]="isMatchStarted" (click)="setOpponentsForMatch()">{{!isMatchStarted?"Ready Next Match Players" : "Match In Progress"}}</button>
        {{awayTeamPlayer.fName + " " + awayTeamPlayer.lName}}
    </div>
  </div>
    <hr>
    <ng-template [ngIf]="areBothTeamsReady">
      <div *ngFor="let match of matches">
        <p>Match number: {{match.matchNo}}</p>
      </div>
    <app-match [matchNumber]="matchNo" [homeTeamPlayer]="homeTeamPlayer"
    [awayTeamPlayer]="awayTeamPlayer" (finishedMatch)="addMatch($event)"></app-match>
    <button class="btn btn-info" (click)="prepareNextMatch()">Prepare Next Match</button>
    </ng-template>
</div>
