<p>
  players works! What would you like to do?
</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Player number</th>
      <th>Skill Level</th>
      <th>Matches Played</th>
      <th>View Details</th>
      <th>Edit Player</th>
      <th>Remove Player</th>
    </tr>
  </thead>
  <tr *ngFor="let player of players">

    <td >{{player.fName}}</td>
    <td >{{player.lName}}</td>
    <td >{{player.playerNumber}}</td>
    <td >{{player.playerSkillLevel}}</td>
    <td >{{player.matchesPlayed}}</td>
    <td><button class="btn btn-info" (click)="onViewPlayerDetails(player)">Details</button></td>
    <td><button class="btn btn-default" (click)="onEditPlayer(player)">Edit</button></td>
    <td><button class="btn btn-danger" (click)="onDeletePlayer(player)">Delete</button></td>



  </tr>
</table>
<a [routerLink]="['new']">Create New Player</a>
