<div class="row">
  <div class="col-md-8 col-xs-12 col-md-offset-2">
    <h3><span class="label label-primary">Edit Player</span></h3>
    <div class="form-group">
      <div class="col-md-2">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" [value]=player.fName #firstName>
      </div>
      <div class="col-md-2">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" [value]=player.lName #lastName>
      </div>
      <div class="col-md-2">
        <label for="firstName">Player Number</label>
        <p>{{player.playerNumber}}</p>
      </div>
    </div>
    <button class="btn btn-success" (click)="onUpdatePlayer(firstName.value, lastName.value)">Update</button>
  </div>

</div>
