<p>
  player-details works!
  {{player.fName}}
</p>
<div class="row">
  <div class="col-md-8 col-xs-12 col-md-offset-2">
    <div class="form-group">
      <div class="col-md-2">
        <label for="firstName">First Name</label>
        <div>{{player.fName}}</div>
      </div>
      <div class="col-md-2">
        <label for="lastName">Last Name</label>
        <div class="">
          {{player.lName}}
        </div>
      </div>
      <div class="col-md-2">
        <label for="playerNumber">Player Number</label>
        <div class="">
          {{player.playerNumber}}
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <label for="">Skill Level(s)</label>
      <hr>
      <label for="">ABC</label>
      <ul>
        <li>8-ball {{player.playerSkillLevel}}</li>
        <li>9-ball {{player.playerSkillLevel+1}}</li>
      </ul>
    </div>
    <a [routerLink]="['/players']" >Back to Player list</a>
</div>
