<p>
  player-details works!
  {{player.fName}}
</p>
<div class="row">
  <div class="col-md-8 col-xs-12 col-md-offset-2">
    <div class="form-group">
      <div class="col-md-2">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" [value]="player.fName" #firstName>
      </div>
      <div class="col-md-2">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" [value]="player.lName" #lastName>
      </div>
      <div class="col-md-2">
        <label for="firstName">Player Number</label>
        <input type="text" class="form-control" [value]="player.playerNumber" #playerNumber>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <label for="">Skill Level(s)</label>
      <hr>
      <label for="">ABC</label>
      <ul>
        <li>8-ball {{player.playerSkillLevel}}</li>
        <li>9-ball {{player.playerSkillLevel+1}}</li>
      </ul>
    </div>
</div>
