<!-- Make your life easier and use the boostrap grid system -->
<h4 style="text-align:center">Game {{cGame.gameNo}}</h4>
<table class="table table-borded table-stripped">
  <thead>
    <tr>
      <th></th>
      <th>{{cGame.p1.fName + " " + cGame.p1.lName[0] + "." }}</th>
      <th>{{cGame.p2.fName + " " + cGame.p2.lName[0] + "."}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>
        T.O
      </th>
      <td>
        <input type="number" name="" value="{{cGame.p1TimeoutsTaken}}" max="2" min="0" style="width:40px" #p1TO (change)=setP1Timeouts()>
      </td>
      <td>
        <input type="number" name="" value="{{cGame.p2TimeoutsTaken}}" max="2" min="0" style="width:40px" #p2TO (change)=setP2Timeouts()>
      </td>
    </tr>
    <tr>
      <th>
        Innings
      </th>
      <td colspan="2">
        <input type="number" name="" value="{{cGame.innings}}" max="99" style="width:120px" #innings (change)="setInnings()">
      </td>
    </tr>
    <tr>
      <th>
        Def Shots
      </th>
      <td>
        <input type="number" name="" value="{{cGame.p1DefensiveShots}}" style="width:40px" #p1Def (change)=setP1DefensiveShots()>
      </td>
      <td>
        <input type="number" name="" value="{{cGame.p2DefensiveShots}}" style="width:40px" #p2Def (change)=setP2DefensiveShots()>
      </td>
    </tr>
    <tr>
      <th>
        Winner
      </th>
      <td colspan="2">
        <button class="btn-info" (click)=toggleWinner(winVal)>{{cGame.winner == null? "Undecided": cGame.winner.fName}}</button>
      </td>
    </tr>
    <tr>
      <th>
        Special
      </th>
      <td colspan="2">
        <button class="btn" [ngClass]="{'btn-success' : cGame.bnr, 'btn-default' : !cGame.bnr }" (click)="breakAndRun()">Break N Run {{cGame.bnr? " Congrats!" : ""}}</button>
        <br/>
        <button class="btn" [ngClass]="{'btn-success' : cGame.eob, 'btn-default' : !cGame.eob }" (click)="eightOnBreak()">Eight On Break{{cGame.eob? " Congrats!" : ""}}</button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-warning" (click)="saveStats()">End game</button>
<button class="btn btn-info" (click)="viewGameStats()">Game Stats</button>
<hr>
