<!-- Make your life easier and use the boostrap grid system -->
<h4 style="text-align:center">Game #</h4>
<table class="table table-borded table-stripped">
  <thead>
    <tr>
      <th></th>
      <th>Player 1</th>
      <th>Player 2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>
        Timeouts
      </th>
      <td>
        <input type="number" name="" value="0" max="2" min="0" style="width:40px">
      </td>
      <td>
        <input type="number" name="" value="0" max="2" min="0" style="width:40px">
      </td>
    </tr>
    <tr>
      <th>
        Innings
      </th>
      <td>
        <input type="number" name="" value="0" max="99" style="width:40px">
      </td>
      <td></td>
    </tr>

  </tbody>
</table>
