<div class="row">
  <h2>Create your team</h2>
  <div class="form-group">
    <div class="col-md-4">
      <label for="" class="label label-primary">Team Name:</label>
      <input type="text" class="form-control" [value]="newTeam.teamName" #teamName>
      <hr>
      <label for="" class="label label-primary">Current Roster</label>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let player of newTeam.players"
          (click)="removeFromTeam(player)">
          {{player.getFullName()}} <span class="badge progress-bar-danger"><span class="glyphicon glyphicon-remove"></span></span>
        </li>
        <p>Team Balance:</p>
        <ul class="list-group">
          <li class="list-group-item col-md-3" *ngFor="let sL of skillLevels">
            {{sL.skillLvl + "'s: " + sL.amount}}
          </li>
          <li class="list-group-item col-md-12">
            Total Amount of Players: {{newTeam.players.length}}
          </li>
        </ul>
      </ul>

      <button class="btn btn-success" (click)="registerTeam(teamName.value)">
        Register Team
      </button>
    </div>
  </div>
  <div class=" panel-default panel col-md-8">
    <div class="panel-heading">
      <div class="panel-title">
        <h3>
            Player Pool
        </h3>
      </div>
    </div>
    <div [ngClass]="{'hide-it' : isAlreadyOnRoster(player), 'panel-default' : !isAlreadyOnRoster(player) }" class="panel col-md-4"  *ngFor="let player of
            availablePlayerList; let i=index" (click)="addToRoster(player)">
      <div class="panel-heading">
        <h4 class="panel-title">{{player.getFullName()}}</h4>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Skill Level<span class="badge">{{player.playerSkillLevel}}</span></li>
      </ul>
    </div>

  </div>
</div>
